Donation_Form {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    font-family: "Optima", sans-serif;
    font-weight: 500
}

title {
  color:#97272E;
  font-weight: 1000

}

subtitle {
  color:#796E6E;
}

heading{
font-weight: bold
font-variant: small-caps;
}

recur{
display: block

}

donate{
display: block

}
